.content {
    position: absolute;
    padding: 7% 0;
    top: 20%;
    width: 50%;
    right: 15%;
}

.index-list {
    width: 15%;
}

#footer {
    background-color: rgb(25, 25, 25);
    color: white;
    height: 25px;
    line-height: 25px;
}

#requestFrom {
    text-align: right;
}
